//? SKELETON LOADING

.skeleton.loading-wrapper {
  width: 320px;
  height: 250px;
  outline: 1px solid silver;
  background: transparent;
}

.skeleton.video-thumbnail {
  width: 320px;
  height: 180px;
  background: rgb(71, 71, 71);
}

.skeleton.video-footer {
  width: 320px;
  height: 70px;
  background: rgb(44, 44, 44);
}

//? SKELETON LOADING - END
